h1{
    font-weight: 750;
    font-size: 40px;
    margin: 11px;
    margin-bottom: 22px;
}

input{
    width: 100%;
}

.items-container{
    text-align: left;
}

.int-row{
    margin: 10px 5px;
}

.int-button{
    min-width: 80px
}